<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Story Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    <script src="libs/sigma/sigma.min.js"></script>
    <script src="libs/sigma/plugins/sigma.renderers.customShapes.min.js"></script>
    <script src="libs/sigma/plugins/sigma.renderers.edgeLabels.min.js"></script>
    <script src="libs/jquery-3.5.0.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="graphWindow">
        <div id="uploadOverallStory">
            <form id="uploadOverallStoryForm" enctype="multipart/form-data">
                <label for="overallNarrativeFile">Overall narrative file: </label>
                <input type="file" name="overallNarrativeFile" id="overallNarrativeFile" accept=".json" />
                <input id="createGraph" type="button" value="Show Story Graph" />
            </form>
            <button id="exampleButton" type="button">Show Example Graph</button>
        </div>
        <div id="graphBox" class="box">
            <h2 id="graphTitle">Graph</h2>
            <div id="graph"></div>
        </div>
    </div>
    <div id="sideBox">
        <div id="options" class="box side-box">
            <h2>Options</h2>
            <form id="uploadPlayerProfileForm" enctype="multipart/form-data">
                <div class="form-field vertical">
                    <label for="playerProfileFile">Player profile file: </label>
                    <input type="file" name="playerProfileFile" id="playerProfileFile" accept=".json" />
                </div>

                <div class="form-field">
                    <label for="defaultStoryLine">Default story line: </label>
                    <input type="checkbox" id="defaultStoryLine" name="defaultStoryLine" value="isDefaultStoryLine">
                </div>

                <input type="hidden" id="overallStoryGraphHolder" name="overallStoryGraph">
                <p id="optionErrors" class="error"></p>

                <input id="createStoryLineButton" type="button" value="Show Story Line" />
            </form>
        </div>
        <div id="errors" class="box side-box">
            <h2>Errors</h2>
        </div>
    </div>
    <script>
        let hiddenGraphHolder;

        $('#createGraph').on('click', function() {
            $.ajax({

                url: 'story-viewer/graph',
                type: 'POST',
                data: new FormData(document.getElementById("uploadOverallStoryForm")),
                cache: false,
                contentType: false,
                processData: false,

                error: function(err) {

                    console.log(err);
                    //showErrors([err.responseText]);
                },

                success: function(result) {

                    showErrors(result.errors);
                    createGraph(result.graph);
                },

                complete: function() {
                    $("#overallNarrativeFile").val("");
                }
            });
        });

        $('#exampleButton').on('click', function() {
            $.ajax({

                url: 'story-viewer/graph/example',
                type: 'GET',

                error: function(err) {
                    //showErrors([err.responseText]);
                },

                success: function(result) {

                    showErrors(result.errors);
                    createGraph(result.graph);
                },

                complete: function() {
                    $("#overallNarrativeFile").val("");
                }

            });
        });

        $('#createStoryLineButton').on('click', function() {

            hideOptionErrors();

            if (hasErrors()) {
                showOptionErrors(["Please fix graph errors first"]);
                return;
            }

            if (hiddenGraphHolder == undefined) {
                showOptionErrors(["Please create a story graph first"]);
                return;
            }

            document.getElementById("overallStoryGraphHolder").value = hiddenGraphHolder;

            $.ajax({

                url: 'story-viewer/story-line',
                type: 'POST',
                data: new FormData(document.getElementById("uploadPlayerProfileForm")),
                cache: false,
                contentType: false,
                processData: false,

                error: function(err) {
                    //showOptionErrors([err.responseText]);
                },

                success: function(result) {

                    showOptionErrors(result.errors);
                    createGraph(result.graph, true);
                },

                complete: function() {
                    $("#playerProfileFile").val("");
                }
            });
        });

        $('#defaultStoryLine').on('click', function() {

            hideOptionErrors();

            if (this.checked) {
                $("#playerProfileFile").val("");
                $("#playerProfileFile").prop('disabled', true);
            } else {
                $("#playerProfileFile").val("");
                $("#playerProfileFile").prop('disabled', false);
            }
        });

        function createGraph(graph, isStoryLine) {

            if (graph === undefined) {
                return;
            }

            let graphElem = document.getElementById("graph");
            graphElem.innerHTML = "";

            if (!isStoryLine) {
                hiddenGraphHolder = JSON.stringify(graph);
            }

            sigma.utils.pkg('sigma.canvas.nodes');
            sigma.utils.pkg('sigma.canvas.edges');

            let s = new sigma({
                graph: graph,
                renderer: {
                    container: document.getElementById('graph'),
                    type: sigma.renderers.canvas
                },
                settings: {
                    edgeLabelSize: 'proportional',
                    defaultEdgeLabelSize: 12,
                    defaultEdgeType: 'curvedArrow',
                    minEdgeSize: 2,
                    maxEdgeSize: 2,
                    minNodeSize: 10,
                    maxNodeSize: 10,
                    defaultEdgeColor: '#000000'
                }
            });
            s.cameras[0].goTo({
                x: 0,
                y: 0,
                angle: 0,
                ratio: 0.8
            });

            CustomShapes.init(s);
            s.refresh();
        }

        function showErrors(errorsArray) {

            let errors = document.getElementById("errors");
            errors.innerHTML = "";
            let h2 = document.createElement('h2');
            h2.textContent = "Errors";
            errors.appendChild(h2);

            for (error of errorsArray) {
                const p = document.createElement('p');
                p.textContent = error;
                errors.appendChild(p);
            }
        }

        function appendErrors(errorsArray) {
            let errors = document.getElementById("errors");

            for (error of errorsArray) {
                const p = document.createElement('p');
                p.textContent = error;
                errors.appendChild(p);
            }
        }

        function showOptionErrors(errorsArray) {

            let errors = document.getElementById("optionErrors");
            errors.innerHTML = "";

            for (let i = 0; i < errorsArray.length; i++) {
                errors.innerHTML += errorsArray[i];

                if (i < errorsArray.length - 1) {
                    errors.innerHTML += "\n";
                }
            }

            if (errorsArray.length != 0) {
                errors.style.display = "inline";
            }
        }

        function hideOptionErrors() {
            let errors = document.getElementById("optionErrors");
            errors.style.display = "none";
        }

        function hasErrors() {
            let errors = document.getElementById("errors");

            return errors.children.length > 1;
        }
    </script>
</body>

</html>