<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Story Viewer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="cleartype" content="on">
  <script src="sigma/sigma.min.js"></script>
  <script src="sigma/plugins/sigma.renderers.customShapes.min.js"></script>

  <style>
    #content {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  </style>
</head>

<body>
  <div id="content"></div>
  <script>
    let requestURL = './json/overall_narrative.json';

    let request = new XMLHttpRequest();
    request.open('GET', requestURL);
    request.responseType = 'json';
    request.send();

    request.onload = function () {
      if (request.status == 404) {
        const p = document.createElement('p');
        p.textContent = "Couldn't find a json file";
        document.querySelector('#content').appendChild(p);
        return;
      }

      console.log(request.response);
      const narrative = request.response;
      createGraph(narrative);
    }

    function createGraph(jsonObj) {
      sigma.utils.pkg('sigma.canvas.nodes');

      const graph = {
        nodes: [],
        edges: []
      }

      const palette = [
        '#8ecce6',
        '#d5cdea',
        '#fae2ef',
        '#fcf8e9'
      ];

      for (scene of jsonObj['scenes']) {

        let x = 0.0;
        let y = 0.0;
        let id = 'scene_' + scene['name'];
        console.log(id);

        graph.nodes.push({
          id: id,
          label: scene['name'],
          type: 'square',
          x: x,
          y: y,
          size: 1,
          color: palette[0]
        })

        y += 0.1;

        for (event of scene['events']) {

          let type = 'cross';
          let color = palette[3];
          id = "";
          if(event['type'] == 'cutscene') {
            type = 'circle';
            color = palette[1];
            id = 'cutscene_';
          } else if(event['type'] == 'gameplay') {
            type = 'diamond';
            color = palette[2];
            id = 'gameplay_';
          }

          id += event['name'];

          graph.nodes.push({
            id: id,
            label: event['name'],
            type: type,
            x: x,
            y: y,
            size: 0.5,
            color: color
          })

          x += 0.1;
        }
      }

      let s = new sigma({
        graph: graph,
        renderer: {
          container: document.getElementById('content'),
          type: 'canvas'
        }
      });
      CustomShapes.init(s);
      s.refresh();
    }

  </script>
</body>

</html>