#game {
	display: flex;
	justify-content: center;
}

#game canvas {
	border-style: outset;
	width: 80%;
}

.sv_qstn.game {
	background-color: white !important;
}

.sv_p_container.game > h4 {
	color: white;
	background-color: #1ab394;
	margin-top: 0 !important;
	padding-top: 1.5em !important;
}

.sv_p_container.game > h4:hover {
	color: white;
	background-color: #179d82;
}

.sv_p_container.game > div {
	background-color: #f4f4f4 !important;
}

.sticky thead th,
.sticky thead td {
	position: sticky;
	top: 0;
	background-color: #f4f4f4;
	z-index: 1;
}

.sticky thead th::after,
.sticky thead td::after {
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #e7e7e7;
}

.sticky {
	width: auto !important;
}

.sticky td {
	text-align: center;
}

.no-overflow {
	overflow: visible !important;
}

.game-controls {
	width: auto !important;
}

.game-controls th,
.game-controls td {
	border-bottom: 1px solid #e7e7e7;
	padding-top: 15px;
	padding-bottom: 15px;
}

.game-controls th {
	text-align: left;
}

.game-controls tr > td:first-child {
	padding-right: 15px;
	text-align: center;
}

.game-controls p {
	margin: 0;
}

div.sv_progress > span {
	display: none;
}

.header_step {
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 1em;
}
